<ion-view view-title="Chats">
  <!-- <ion-content> -->
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <!-- <img ng-src="{{chat.face}}"> -->
        <!-- <h2>{{chat.name}}</h2> -->
        <p>{{chat}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div class="list" ng-click="submitMessage(currentMessage)">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="message..." ng-model="currentMessage">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
    </div>
  <!-- </ion-content> -->

</ion-view>
